body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #2c3e50;
}

.hidden {
  display: none;
}

.font-weight-light {
  font-weight: 300;
}

/********* Search *******/
.search-container {
  position: relative;
  width: 100%;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.search-input {
  width: 100%;
  min-height: 44px;
  padding-left: 10px;
  padding-right: 38px;
  border: 1px solid #2c3e50;
  border-radius: 3px;
  color: #2c3e50;
  font-size: medium;
}

.search-btn {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #fff;
  border-radius: 3px;
  height: 34px;
  width: 34px;
  background-color: #fff;
  background-image: url('../img/searchicon.png');
  background-repeat: no-repeat;
  background-position: 6px 6px;
}

.search-btn:hover {
  cursor: pointer;
  background-color: #f7f7f7;
  border-color: #ccc;
}

/********* Gallery *******/
.results-container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.tile {
  display: inline-block;
  width: 200px;
  height: 150px;
  margin: 5px;
}

.gif {
  width: 100%;
  height: 100%;
  background-color: #2c3e50;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  transition: 0.1s;
}

.gif:hover {
  cursor: pointer;
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
}

/********* Load More *******/
.load-more-btn {
  display: none;
  margin: 20px;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #2c3e50;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
  font-size: medium;
  margin: 30px auto;
}

.load-more-btn:enabled:hover {
  cursor: pointer;
  color: #fff;
  background-color: #2c3e50;
}

/********* Lightbox *******/
.lightbox-overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
}

.lightbox-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding-top: 50px;
  color: white;
}

.lightbox-img {
  max-width: 100%;
  max-height: calc(100vh - 160px);
  border-radius: 3px;
}

.lightbox-close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: #fff;
  font-size: 5rem;
  font-weight: bold;
}

.lightbox-prev, .lightbox-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.lightbox-prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}

.lightbox-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.lightbox-link {
  color: #fff;
  text-decoration: none !important;
  padding: 10px;
}

.lightbox-close:hover,
.lightbox-prev:hover,
.lightbox-next:hover,
.lightbox-link:hover {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/********* Desktop Styles *******/
@media (min-width: 768px) {
  .lightbox-prev, .lightbox-next {
    padding: 20px;
    font-size: 3rem;
  }
}
